<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>controllers.admin.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controllers.admin.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>controllers.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirm</servlet-name>
        <servlet-class>controllers.Confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>controllers.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>controllers.Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controllers.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProducts</servlet-name>
        <servlet-class>controllers.admin.Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCatergories</servlet-name>
        <servlet-class>controllers.admin.Catergories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsers</servlet-name>
        <servlet-class>controllers.admin.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCards</servlet-name>
        <servlet-class>controllers.admin.Cards</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProduct</servlet-name>
        <servlet-class>controllers.admin.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProduct</servlet-name>
        <servlet-class>controllers.admin.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteCategory</servlet-name>
        <servlet-class>controllers.admin.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDisplayUserOrders</servlet-name>
        <servlet-class>controllers.admin.DisplayUserOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPrintCard</servlet-name>
        <servlet-class>controllers.admin.PrintCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddCards</servlet-name>
        <servlet-class>controllers.admin.AddCards</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controllers.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>controllers.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controllers.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddCards</servlet-name>
        <url-pattern>/Admin/AddCards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirm</servlet-name>
        <url-pattern>/Confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>400</error-code>
        <location>/404.html</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProducts</servlet-name>
        <url-pattern>/Admin/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCatergories</servlet-name>
        <url-pattern>/Admin/Catergories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsers</servlet-name>
        <url-pattern>/Admin/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCards</servlet-name>
        <url-pattern>/Admin/Cards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProduct</servlet-name>
        <url-pattern>/Admin/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProduct</servlet-name>
        <url-pattern>/Admin/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteCategory</servlet-name>
        <url-pattern>/Admin/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDisplayUserOrders</servlet-name>
        <url-pattern>/Admin/DisplayUserOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPrintCard</servlet-name>
        <url-pattern>/Admin/PrintCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>controllers.admin.AdminHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/Admin/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddCards</servlet-name>
        <url-pattern>/Admin/AddCards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/Admin/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirm</servlet-name>
        <url-pattern>/Confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>400</error-code>
        <location>/404.html</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProducts</servlet-name>
        <url-pattern>/Admin/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCatergories</servlet-name>
        <url-pattern>/Admin/Catergories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsers</servlet-name>
        <url-pattern>/Admin/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCards</servlet-name>
        <url-pattern>/Admin/Cards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProduct</servlet-name>
        <url-pattern>/Admin/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProduct</servlet-name>
        <url-pattern>/Admin/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteCategory</servlet-name>
        <url-pattern>/Admin/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDisplayUserOrders</servlet-name>
        <url-pattern>/Admin/DisplayUserOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPrintCard</servlet-name>
        <url-pattern>/Admin/PrintCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
